<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/tvshows.css">

<div class="container">
    <div class="episode-details">
        <h1>Season <%= episode.season %> Episode <%= episode.episode %></h1>
        
        <div class="episode-servers">
            <h3>Watch Online</h3>
            <div class="server-selector">
                <label for="server-select">Select a server to watch:</label>
                <select id="server-select" class="server-select">
                    <option value="">Choose a server</option>
                    <% servers.forEach((server, index) => { %>
                        <option value="<%= index %>"><%= server.server_name %></option>
                    <% }); %>
                </select>
            </div>
            <% servers.forEach((server, index) => { %>
                <div class="server-option" id="server-<%= index %>" style="display: none;">
                    <h4><%= server.server_name %></h4>
                    <div class="embed-container">
                        <iframe src="<%= server.embed_url %>" allowfullscreen></iframe>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<script>
document.getElementById('server-select').addEventListener('change', function() {
    // Hide all server options
    document.querySelectorAll('.server-option').forEach(el => el.style.display = 'none');
    
    // Show selected server
    const selectedServer = this.value;
    if (selectedServer !== '') {
        document.getElementById('server-' + selectedServer).style.display = 'block';
    }
});
</script>

<%- include('../partials/footer') %>